<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Gestion des Utilisateurs</h2>

      <input
        type="text"
        id="searchInput"
        placeholder="Rechercher un utilisateur..."
        value="<%= search %>"
        ||
        null
      />

      <table class="user-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody id="userTable">
          <% if (users && users.length > 0) { %> <% users.forEach(user => { %>
          <tr class="clickable-row" data-user-id="<%= user.id %>">
            <td><%= user.id %></td>
            <td><%= user.username %></td>
          </tr>
          <% }); %> <% } else { %>
          <tr>
            <td colspan="2">Aucun utilisateur trouvé</td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <a href="/account" class="button">Retour à la page de profil</a>
    </div>

    <script>
      document
        .getElementById("searchInput")
        .addEventListener("keypress", function (event) {
          if (event.key === "Enter") {
            document.location.href = `/admin?search=${
              document.getElementById("searchInput").value
            }`;
          }
        });

      // Ajouter un gestionnaire d'événements pour les lignes cliquables
      document.querySelectorAll(".clickable-row").forEach((row) => {
        row.addEventListener("click", function () {
          const userId = this.getAttribute("data-user-id");
          window.location.href = `/account/${userId}`;
        });
      });
    </script>
  </body>
</html>
