<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f5f5f5;
      }
      .container {
        background: #ffffff;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 500px;
      }
      h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        text-align: center;
      }
      input {
        width: 100%;
        padding: 0.75rem;
        margin: 0.5rem 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
        box-sizing: border-box;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 0.75rem;
        text-align: left;
      }
      th {
        background-color: #f4f4f4;
      }
      .button {
        padding: 0.75rem;
        background-color: #ed28ed;
        border: none;
        color: white;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 1rem;
      }
      .button:hover {
        background-color: #d026d0;
      }
      p {
        text-align: center;
        margin-top: 1rem;
      }
      a {
        color: #ed28ed;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Gestion des Utilisateurs</h2>

      <input
        type="text"
        id="searchInput"
        placeholder="Rechercher un utilisateur..."
        value="<%= search %>"
        ||
        null
      />

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody id="userTable">
          <% if (users && users.length > 0) { %> <% users.forEach(user => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
          </tr>
          <% }); %> <% } else { %>
          <tr>
            <td colspan="2">Aucun utilisateur trouvé</td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div class="button">
        <a href="/account">Retour à la page de profil</a>
      </div>
    </div>

    <script>
      document
        .getElementById("searchInput")
        .addEventListener("keypress", function (event) {
          if (event.key === "Enter") {
            document.location.href = `/admin?search=${
              document.getElementById("searchInput").value
            }`;
          }
        });
    </script>
  </body>
</html>
